<nav  class="navbar navbar-expand-lg fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand h1 text-white" href="#">YaraBank</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   <div class="row">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
      
        <li class="nav-item " >
          <a class="nav-link text-white" (click)="signout()">Deconnexion</a>
        </li>
       
               
      </ul>
      
    </div>
   </div>
  </div>
</nav>
<main class="row p-3">
  <!-- <nav class="main-menu  h-100 col-1">
    <h1>YaraBank</h1>
    <img class="logo" src="../../../../assets/img/macarte.png" alt="" />
    <ul>
      <li class="nav-item active">
        <b></b>
        <b></b>
        <a href="#">
          <i class="fa fa-house nav-icon"></i>
          <span class="nav-text">Accueil</span>
        </a>
      </li>

      <li class="nav-item">
        <b></b>
        <b></b>
        <a href="#">
          <i class="fa fa-user nav-icon"></i>
          <span class="nav-text">Gestion Comptes</span>
        </a>
      </li>

      <li class="nav-item">
        <b></b>
        <b></b>
        <a href="#">
          <i class="fa fa-calendar-check nav-icon"></i>
          <span class="nav-text">Gestion Clients</span>
        </a>
      </li>

      <li class="nav-item">
        <b></b>
        <b></b>
        <a href="#">
          <i class="fa fa-person-running nav-icon"></i>
          <span class="nav-text">Gestion OPerations</span>
        </a>
      </li>

      <li class="nav-item">
        <b></b>
        <b></b>
        <a href="#">
          <i class="fa fa-sliders nav-icon"></i>
          <span class="nav-text">Gestion Prêts</span>
        </a>
      </li>
    </ul>
  </nav> -->

  <div class="container-fluid">
    <div class="row w-500">
      <div class="col-12">
        <div class="left-content">
          <div class="activities">
            <h1 class="text-center">Administration YaraBank</h1>
            <br>
            <div class="activity-container">
              <div class="image-container img-one">
              <a href="comptes">
                  <img
                    src="https://img.freepik.com/free-vector/people-taking-out-money-from-bank-concept-illustration_114360-13931.jpg?size=338&ext=jpg&ga=GA1.1.1141335507.1719187200&semt=ais_user"
                    alt="tennis"
                  />
                  <div class="overlay">
                    <h4>Comptes</h4>
                  </div>
               
              </a>
            </div>
             

              <div class="image-container img-two">
                <img
                  src="https://www.kindpng.com/picc/m/458-4580346_digital-banking-png-transparent-png.png"
                  alt="hiking"
                />
                <div class="overlay">
                  <h4>Courant</h4>
                </div>
              </div>

              <div class="image-container img-three">
                <img
                  src="https://img.freepik.com/premium-vector/bank-building-white-background-giving-out-money-vector-flat-modern-design-illustration_566886-645.jpg"
                  alt="running"
                />
                <div class="overlay">
                  <h4>Clients</h4>
                </div>
              </div>

              <div class="image-container img-four">
                <img
                  src="https://img.freepik.com/free-vector/tiny-people-depositing-taking-money-from-government-bank-flat-illustration_74855-17121.jpg"
                  alt="cycling"
                />
                <div class="overlay">
                  <h4>Operations</h4>
                </div>
              </div>

              <div class="image-container img-five">
                <img
                  src="https://cdni.iconscout.com/illustration/premium/thumb/banking-management-5904901-4897498.png"
                  alt="yoga"
                />
                <div class="overlay">
                  <h4>Epargne</h4>
                </div>
              </div>

              <div class="image-container img-six">
                <img
                  src="https://png.pngtree.com/png-clipart/20211115/original/pngtree-concept-and-style-of-online-banking-png-image_6925864.png"
                  alt="swimming"
                />
                <div class="overlay">
                  <h4>Transfert</h4>
                </div>
              </div>
            </div>
          </div>

          <div class="left-bottom">
            <div class="weekly-schedule">
              <!-- <h1>Historiques</h1> -->
              <div class="calendar">


                <div class="container-fluid">
                  <h3>Historiques des operations</h3>
                
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr  class="text-center">
                        <th >Numero de Compte</th>
                        <th >Type d'Operation</th>
                        <th >Date  d'Operation</th>
                        <th >Montant</th>
                      </tr>
                    </thead>
                    <tbody  class="text-center" *ngFor="let account of data">
                
                      <tr class="text-center">
                        <th >{{account.accountNumber}}</th>
                        <td>{{account.type}} </td>
                        <td >{{account.operationDate}}</td>
                        <td> {{account.amount}}</td>
                        
                      </tr>
                
                     
                    </tbody>
                  </table>
                </div>
                <!-- <div class="day-and-activity activity-one">
                  <div class="day"></div>
                  <div class="activity">
                    <h2>Depot</h2>
                    <div class="participants">
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                        style="--i: 1"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/90affa88-8da0-40c8-abe7-f77ea355a9de"
                        style="--i: 2"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/07d4fa6f-6559-4874-b912-3968fdfe4e5e"
                        style="--i: 3"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e082b965-bb88-4192-bce6-0eb8b0bf8e68"
                        style="--i: 4"
                        alt=""
                      />
                    </div>
                  </div>
                  <button class="btn">Afficher</button>
                </div>

                <div class="day-and-activity activity-two">
                  <div class="day"></div>
                  <div class="activity">
                    <h2>Retrait</h2>
                    <div class="participants">
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                        style="--i: 1"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/32037044-f076-433a-8a6e-9b80842f29c9"
                        style="--i: 2"
                        alt=""
                      />
                    </div>
                  </div>
                  <button class="btn">Afficher</button>
                </div>

                <div class="day-and-activity activity-three">
                  <div class="day"></div>
                  <div class="activity">
                    <h2>Virement</h2>
                    <div class="participants">
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/32037044-f076-433a-8a6e-9b80842f29c9"
                        style="--i: 1"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e082b965-bb88-4192-bce6-0eb8b0bf8e68"
                        style="--i: 2"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                        style="--i: 3"
                        alt=""
                      />
                    </div>
                  </div>
                  <button class="btn">Afficher</button>
                </div>

                <div class="day-and-activity activity-four">
                  <div class="day"></div>
                  <div class="activity">
                    <h2>Attente</h2>
                    <div class="participants">
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/07d4fa6f-6559-4874-b912-3968fdfe4e5e"
                        style="--i: 1"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/32037044-f076-433a-8a6e-9b80842f29c9"
                        style="--i: 2"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/07d4fa6f-6559-4874-b912-3968fdfe4e5e"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/c61daa1c-5881-43f8-a50f-62be3d235daf"
                        style="--i: 4"
                        alt=""
                      />
                      <img
                        src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/90affa88-8da0-40c8-abe7-f77ea355a9de"
                        style="--i: 5"
                        alt=""
                      />
                    </div>
                  </div>
                  <button class="btn">Afficher</button>
                </div> -->
              </div>
            </div>

            <div class="personal-bests">
              <h1>Comptes</h1>
              <div class="personal-bests-container">
                <a href="courant"  >
                <div class="best-item box-two">
                  <p>Courant</p>
                
                  <img
                  src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/242bbd8c-aaf8-4aee-a3e4-e0df62d1ab27"
             />
                </div>
              </a>

                <a href="epargne"  >
                <div class="best-item box-two">
                  <p>Epargne</p>
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/a3b3cb3a-5127-498b-91cc-a1d39499164a"
               
                  />
                </div>
              </a>
              <a href="comptes"  >
                <div class="best-item box-three">
                  <p>Suggestions</p>
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e0ee8ffb-faa8-462a-b44d-0a18c1d9604c"
               
                  />
                </div>
              </a>
              <a href="operations"  >
                <div class="best-item box-three">
                  <p>Operations</p>
                  <img
                    src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/e0ee8ffb-faa8-462a-b44d-0a18c1d9604c"
               
                  />
                </div>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--  -->
    </div>
  </div>
</main>
