<div class="container-fluid">
    <h3 class="text-center">La Liste de Operations </h3>

    <table class="table table-striped table-bordered text-center">
      <thead>
        <tr  class="text-center">
          <th >Numero de Comte</th>
          <th >Type d'Operation</th>
          <th >Montant d'Operation</th>
          <th >Date d'Operation</th>
           <th >Action</th>
        </tr>
      </thead>
      <tbody  class="text-center" *ngFor="let account of data">
  
        <tr class="text-center">
          <th >{{account.accountNumber}}</th>
          <td>{{account.type}} </td>
          <td>{{account.amount}} </td>
          <td >{{account.operationDate}}</td>
          <td> {{account.customerDomain.lastName}}</td>
          <td *ngIf="account.valid == false"> <button type="button" class="btn  btn-success" (click)=" activation(account.id)"  >Accepter</button>
            <!-- &nbsp;
            <button type="button" class="btn btn-danger">Rejeter</button> -->

        </td>
          
        </tr>
  
       
      </tbody>
    </table>
  </div>
  