<main class="main-container">
  <aside class="sidebar">
    <header routerLink="" >YaraBank</header>
    <ul>
      <li><i class="fas fa-th-large"></i>Accueil</li>
      <li><i class="fas fa-wallet"></i>Operations</li>
      <li><i class="fas fa-coins"></i>Mes Informations</li>
      <li><i class="fas fa-money-check">Calcul de Prêt</i></li>
    </ul>
  </aside>
  <section class="main">
    <header class="header">
      <ul>
        <li>
          <div class="notification">
            <i class="fas fa-bell fa-2x"></i>
            <div class="notification-count">
              <p>2</p>
            </div>
          </div>
        </li>
        <li>
          <div class="wills-o">
            <p></p>
          </div>
        </li>
        <li>
          <div class="tridrop">
            <select class="form-select" aria-label=".form-select-sm example" name="user" id="dropdown">
              <option value="account">Yara Amina</option>
            </select>
          </div>
        </li>
      </ul>
    </header>

    <section class="content">
      <div class="content-div">
        <div>
          <span class="map">Mon Solde</span>
          <br />
          <span class="amount"
            >1453680.89 <small><sup>FCFA</sup></small></span
          >
        </div>
        
          <!-- <label class="switch">
              <input class="p-2" type="checkbox">
              <span class="slider round"></span>
            </label> -->

          <!-- Rounded switch -->
          <label class="switch">
            <input type="checkbox" />
            <span></span>
          </label>
          
        
      </div>
    </section>

    <section class="wallet">
      <div class="overall">
        <div class="wallet-div">
          <div>
            <p>Historques d'Operations</p>
          </div>
          <div class="btn-div">
            <button class="btn">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
              <input type="button" value="Add new wallet" />
            </button>
          </div>
        </div>

        <div class="btc">
          <p class="sw">
            <span class="s-1">
              <i class="fab fa-bitcoin fa-2x"></i>
            </span>
            <span class="s-2">
              Salary Wallet (BTC) <br />
              <button class="b-1">
                <i class="fas fa-shield-alt"></i> Non-Custodial</button
              ><i class="fas fa-landmark"></i>
            </span>
          </p>
          <p
            class="k-p"
            style="font-family: Georgia, 'Times New Roman', Times, serif"
          >
            $1024.43
            <br />
            0.02345668BTC
          </p>
        </div>

        <div class="eth">
          <p class="sw">
            <span class="s-1">
              <i class="fab fa-ethereum fa-2x"></i>
            </span>
            <span class="s-2">
              My Savings (ETH) <br />
              <button class="b-2">
                <i class="fa fa-wallet" aria-hidden="true"></i>
                Custodial</button
              ><i class="fas fa-hand-holding-usd"></i>
            </span>
          </p>
          <p
            class="k-p"
            style="font-family: Georgia, 'Times New Roman', Times, serif"
          >
            $1024.43
            <br />
            0.02345668ETH
          </p>
        </div>

        <div class="ltc">
          <p class="sw">
            <span class="s-1">
              <i class="fab fa-bitcoin fa-2x"></i>
            </span>
            <span class="s-2">
              Vacation (LTC) <br />
              <button class="b-3">
                <i class="fas fa-shield-alt"></i> Non-Custodial
              </button>
            </span>
          </p>
          <p
            class="k-p"
            style="font-family: Georgia, 'Times New Roman', Times, serif"
          >
            $1024.43
            <br />
            0.02345668LTC
          </p>
        </div>
      </div>

      <div class="part-two">
        <div class="balance">
          <div class="wb">
            <span class="s-1">
              <i class="fab fa-bitcoin sbtc"></i>
            </span>
            <span class="b1">
              <span class="map">Wallet Balance</span>
              <br />
              <span class="n-b">0.02345669BTC</span>
              <br />
              <span class="percent">
                <input type="button" value="$12.24(12.12%)" />
              </span>
            </span>
          </div>

          <div class="export">
            <button>
              <i class="fab fa-telegram-plane"></i>
              <input type="button" value="Export Private Key" />
            </button>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
