<main class="main-container">
  <div class="row">
    <div class="col-3">
      <aside class="sidebar">
        <header routerLink="">YaraBank</header>
        <ul>
          <li routerLinkActive="active" routerLink="home"><i class="fas fa-th-large"></i>Accueil</li>
          <li routerLinkActive="active" routerLink="operation">
            <i class="fas fa-wallet"></i>Operations
          </li>
          <!-- <li><i class="fas fa-coins"></i>Mes Informations</li>
          <li><i class="fas fa-money-check">Calcul de Prêt</i></li> -->
        </ul>
      </aside>
    </div>
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
