<div class="content p-5">

    <div class="stage">
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
    <div id="credit-card">
        <div id="front">
            <div id="bank-name">
                <h4>YaraBank</h4>
            </div>
            <div id="security-chip">
                <div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div id="card-number">
                <span>7896</span>
                <span>4698</span>
                <span>0015</span>
                <span class="unfilled">0986</span>
            </div>
            <div id="shelf-life">
                <h3><span>Valid:</span> <span>07/25</span></h3>
            </div>
            <div id="bearer-name">
                <h3>Yara Aminata Dite Niafo</h3>
            </div>
            <div id="mastercard">
                <div></div>
                <div></div>
            </div>
            
        </div>
    </div>   
</div>