<div class="container-fluid h-100 py-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-3">
        <div class="card bg-c-blue order-card">
          <div class="card-block">
            <h6 class="m-b-20">Solde</h6>
            <h2 class="text-right h4">
            <span>486 XOF</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="col-2 col-xl-3">
        <div class="card bg-c-pink order-card">
          <div class="card-block">
            <h6 class="m-b-20"> Total Débits</h6>
            <h2 class="text-right h4">
              <span>486</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="col-2 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h6 class="m-b-20"> Total Crédits</h6>
            <h2 class="text-right h4">
              <span>486</span>
            </h2>
          </div>
        </div>
      </div>

      <div class="col-2 col-xl-3">
        <div class="card bg-c-green order-card">
          <div class="card-block">
            <h6 class="m-b-20"> Total Crédits</h6>
            <h2 class="text-right h4">
              <span>486</span>
            </h2>
          </div>
        </div>
      </div>

      

    </div>
  </div>

  <div class="container-fluid">
    <h2>Operations Courantes</h2>
    <div class="row flex">

      <div (click)="openModal('depotModalBtn')"  class=" col-3 bg-c-green rounded border shadow-sm px-4 py-3 " style="cursor: pointer;">
        <span><i class="fa-solid fa-wallet h1"></i></span>
        <p class="m-b-20">Effectuer un depot</p>
      </div>
      <div (click)="openModal('retraitModalBtn')"  class="col-3 bg-c-green rounded border shadow-sm px-4 py-3 " style="cursor: pointer;">
        <span><i class="fa-solid fa-wallet h1"></i></span>
        <p class="m-b-20">Effectuer un retrait</p>
      </div>

      <div (click)="openModal('transfertModalBtn')" data-bs-target="#staticBackdrop" class="col-3 bg-c-green px-4 py-3 rounded border shadow-sm " style="cursor: pointer;">
        <span><i class="fa-solid fa-hand-holding-dollar h1"></i></span>
        <p class="m-b-20">Transferer de l'argent</p>
      </div>

      <div class="col-3 bg-c-green rounded border shadow-sm px-4 py-3" routerLink="/compte/myhistorique" style="cursor: pointer;">
        <span><i class="fa-solid fa-clock-rotate-left h1"></i></span>
        <p class="m-b-20">Historiques de transactions</p>
      </div>
      

      <app-retrait-form></app-retrait-form>
      <app-depot-form></app-depot-form>
      <app-transfert-form></app-transfert-form>
    </div>
  </div>
</div>
