<form [formGroup]="loginForm" (ngSubmit)="login()">
<div class="login-container" style="height: 100vh;">
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
       
        <div class="login">
          <h2>Login</h2>
          <div class="inputBx">
            <input type="text" placeholder="Nom d'utilisateur" formControlName="username" >
          </div>
          <div class="inputBx">
            <input type="password" placeholder="Mot de passe" formControlName="password">
          </div>
          <div class="inputBx">
            <a>
            <input  type="submit" value="Se Connecter">
          </a>
          </div>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle links" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Ouvrir un compte
            </a>
          
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item links" href="inscriptionClient">Personnel</a></li>
              <li><a class="dropdown-item links" href="inscriptionEntreprise">Entreprise</a></li>
             
            </ul>
          </div>
          <!-- <div class="links">
             <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <a routerLink="../inscription" >Ouvrir un compte</a>
          </div> -->
        </div>
      
      </div>
    
</div>
</form>

