
  <!-- Button trigger modal -->
  <button hidden id='transfertModalBtn' type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#transfertModal">
    Launch demo modal
  </button>
  <div id='transfertModal' class="modal fade"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <form [formGroup]="transfertForm" class="modal-content" (ngSubmit)="handlerTransfert()">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Transfert d'argent</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">  
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero de votre compte a debiter</label>
            <input type="text" class="form-control"  aria-describedby="benetHelp" formControlName="sender">
            <!-- <div id="depotHelp" class="form-text">Veuillez saisir le montant du depot </div> -->
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Numero de compte du Beneficiaire</label>
            <input type="text" class="form-control"  aria-describedby="benetHelp" formControlName="receiver">
            <!-- <div id="depotHelp" class="form-text">Veuillez saisir le montant du depot </div> -->
          </div>    
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Montant a transferer</label>
              <input type="text" class="form-control"  aria-describedby="depotHelp" formControlName="amount">
              <!-- <div id="depotHelp" class="form-text">Veuillez saisir le montant du depot </div> -->
            </div>                
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary">Valider</button>
        </div>
      </form>
    </div>
  </div>

