<div class="container-fluid">
    <h3>La Liste de Comptes  Clients</h3>
  
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type Operation</th>
          <th scope="col">Description</th>
          <th scope="col">Date Operation</th>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <th scope="row">1</th>
          <td class="col-3">Transfert d'argent</td>
          <td class="col-5">Vous avez envoye la somme de 300.000F au Compte numero 345542443 (Ismael Bah) le 12/12/2023 a 14h30mn.</td>
          <td class="col-3">12/12/2023</td>
        </tr>
  
        <tr>
          <th scope="row">2</th>
          <td class="col-3">Transfert d'argent</td>
          <td class="col-5">Vous avez envoye la somme de 300.000F au Compte numero 345542443 (Ismael Bah) le 12/12/2023 a 14h30mn.</td>
          <td class="col-3">12/12/2023</td>
        </tr>
  
        <tr>
          <th scope="row">3</th>
          <td class="col-3">Transfert d'argent</td>
          <td class="col-5">Vous avez envoye la somme de 300.000F au Compte numero 345542443 (Ismael Bah) le 12/12/2023 a 14h30mn.</td>
          <td class="col-3">12/12/2023</td>
        </tr>
        
      </tbody>
    </table>
  </div>
  