<div class="container-fluid">
    <h3 class="text-center">La Liste des Suggestions </h3>
  
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
        
          <th scope="col">Nom Complet</th>
          <th scope="col">Mesaage</th>
          
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <th scope="row">Moussa Traore</th>
          <td class="col-3">Transfert d'argent</td>
         
        </tr>
  
        <tr>
          <th scope="row">Chacka traore</th>
          <td class="col-3">Transfert d'argent</td>
         
        </tr>
  
        <tr>
          <th scope="row">Fuck woni</th>
          <td class="col-3">Transfert d'argent</td>
         
        </tr>
        
      </tbody>
    </table>
  </div>
  